# Pycharm IDE
/.idea

# Cache files
*.pyc
**/__pycache__/

# Setup files
dist
doc/build/
*.egg
*.egg-info
/build/
.remember
.env
temp/
*.swp
.coverage
htmlcov/
debug/
milvus/client/wrapper.py
examples/example_test.py
.codecov.yml
assets/
TODO
