# IDE
## Pycharm IDE
/.idea

# Python files
*.pyc
dist
docs/build/
*.egg
*.egg-info
**/__pycache__/
/build/
.remember

# Env
.env

# Local Temp
temp/
*.swp
assets/
TODO

# GitHub
.coverage
htmlcov/
debug/
.codecov.yml
