name: Test on pull request

on:
  pull_request:
    branches:
      - master

jobs:
  build:
    name: Run Python Tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.11]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Fetch tags
        run: |
          git fetch --prune --unshallow --tags

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -e .
          pip install -r test_requirements.txt

      - name: Test with pytest
        run: |
          make unittest
